.hud {
  position: absolute;
  top: 20px;
  left: 1em;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-family: monospace;
  font-size: 14px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 10;
}

.out {
  color: red;
}
