/* SettingsPanel.module.css */

.panel {
  padding: 1rem;
  background: #222;
  color: #fff;
  border-radius: 8px;
    width: 50%;
  font-family: sans-serif;
}

.label {
  display: flex;
  flex-direction: column;
    width: calc(100% - 4em);
  gap: 0.5rem;
}

input[type='range'] {
  width: 100%;
  accent-color: #4cafef;
  cursor: pointer;
}
